<!-- Main Navigation -->
<header>

  <!-- Intro Section -->
  <div id="home" class="view jarallax" data-jarallax='{"speed": 0.2}'
       style="background-image: url(./assets/banner/banner5.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-stylish-light">
      <div class="container d-flex justify-content-center align-items-center" >
        <div class="row pt-5 mt-3">
          <div class="col-md-12 mb-3">
            <div class="intro-info-content text-center">
              <h1 class="display-3 white-text mb-5 wow fadeInDown font-weight-bold" data-wow-delay="0.3s">ABOUT <a
                class=" font-weight-bold">US</a></h1>
              <h5 class="text-uppercase mb-5 mt-1 bg-white font-weight-bold wow fadeInDown" data-wow-delay="0.3s">
                Lorem ipsum dolor sit amet consectetur. </h5>
              <a href="#" class="btn btn-primary btn-lg active " role="button" aria-pressed="true"style="margin-right: 1rem">PORTFOLIO</a>
              <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">About</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
<!-- Main Navigation -->

<!-- Main Layout -->
<main>

  <div class="about-us">
    <div class="about-us__header-wrapper">
      <div class="about-us__header white-text">Our amazing team</div>
    </div>
    <div class="about-us__info-wrapper">
      <div class="about-us__info">
        <a href="https://www.facebook.com/profile.php?id=100058632992547"><div class="about-us__info-img" style="background-image: url(./assets/avatar/DaoThiThuThao.jpg)"></div></a>
        <div class="about-us__info-content">
          <span class="about-us__info-name">Name: <span>Dao Thi Thu Thao</span></span>
          <span class="about-us__info-date">Date: <span>28.12.2000</span></span>
          <span class="about-us__info-description">Description: <span>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></span>
        </div>
      </div>

      <div class="about-us__info info--background-dark">
        <a href="https://www.facebook.com/yangheenlw/"><div class="about-us__info-img" style="background-image: url(./assets/avatar/NguyenHuuKha2.jpg)"></div></a>
        <div class="about-us__info-content white">
          <span class="about-us__info-name">Name: <span>Nguyen Huu Kha</span></span>
          <span class="about-us__info-date">Date: <span>16.12.2001</span></span>
          <span class="about-us__info-description">Description: <span>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></span>
        </div>
      </div>

      <div class="about-us__info">
        <a href="https://www.facebook.com/1597532846m"><div class="about-us__info-img" style="background-image: url(../../../../../assets/avatar/TrieuHueMan.jpg)"></div></a>
        <div class="about-us__info-content">
          <span class="about-us__info-name">Name: <span>Trieu Hue Man</span></span>
          <span class="about-us__info-date">Date: <span>25.01.2001</span></span>
          <span class="about-us__info-description">Description: <span>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <hr class="my-5">

    <!-- Section: Features v.1 -->
    <section id="products" class="text-center wow fadeIn" data-wow-delay="0.3s">

      <!-- Section heading -->
      <h1 class="font-weight-bold text-center h1 my-5">We create awesome products</h1>
      <!-- Section description -->
      <p class="text-center grey-text mb-5 mx-auto w-responsive lead">Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mb-4">
          <i class="fas fa-4x fa-chart-area pink-text"></i>
          <h4 class="font-weight-bold my-4">Analytics</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
            aperiam minima assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-4">
          <i class="fas fa-4x fa-pencil-alt cyan-text"></i>
          <h4 class="font-weight-bold my-4">Design</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
            aperiam minima assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-4">
          <i class="fas fa-4x fa-laptop indigo-text"></i>
          <h4 class="font-weight-bold my-4">Development</h4>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
            aperiam minima assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!-- Section: Features v.1 -->

    <hr class="my-5">

    <!-- Section: Gallery -->
    <section id="gallery" class="section wow fadeIn" data-wow-delay="0.3s">

      <!-- Section heading -->
      <h1 class="font-weight-bold text-center h1 my-5">Our work</h1>
      <!-- Section description -->
      <p class="text-center grey-text mb-5 mx-auto w-responsive">Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

      <div class="row pb-4">
        <div class="col-md-12">

          <div id="mdb-lightbox-ui"></div>

          <div class="mdb-lightbox">

            <figure class="col-md-4">
              <a href="https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20(43).jpg" data-size="1600x1067">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20(43).jpg"
                     class="img-fluid z-depth-1"/>
              </a>
            </figure>

            <figure class="col-md-4">
              <a href="https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20(41).jpg" data-size="1600x1067">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(41).jpg"
                     class="img-fluid z-depth-1"/>
              </a>
            </figure>

            <figure class="col-md-4">
              <a href="https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20(40).jpg" data-size="1600x1067">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(40).jpg"
                     class="img-fluid z-depth-1"/>
              </a>
            </figure>

            <figure class="col-md-4">
              <a href="https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20(14).jpg" data-size="1600x1067">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20(14).jpg"
                     class="img-fluid z-depth-1"/>
              </a>
            </figure>

            <figure class="col-md-4">
              <a href="https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20(42).jpg" data-size="1600x1067">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg"
                     class="img-fluid z-depth-1"/>
              </a>
            </figure>

            <figure class="col-md-4">
              <a href="https://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(132).jpg"
                 data-size="1600x1067">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(132).jpg"
                     class="img-fluid z-depth-1"/>
              </a>
            </figure>

          </div>

        </div>

      </div>

    </section>
    <!-- /Section: Gallery -->

    <hr class="my-5">

    <!--    &lt;!&ndash; Section: Contact v.2 &ndash;&gt;-->
    <!--    <section id="contact" class="section pb-5 wow fadeIn" data-wow-delay="0.3s">-->

    <!--      &lt;!&ndash; Section heading &ndash;&gt;-->
    <!--      <h2 class="font-weight-bold text-center h1 my-5">Contact us</h2>-->
    <!--      &lt;!&ndash; Section description &ndash;&gt;-->
    <!--      <p class="text-center grey-text mb-5 mx-auto w-responsive">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>-->

    <!--      <div class="row">-->

    <!--        &lt;!&ndash; Grid column &ndash;&gt;-->
    <!--        <div class="col-md-8 col-xl-9">-->
    <!--          <form>-->

    <!--            &lt;!&ndash; Grid row &ndash;&gt;-->
    <!--            <div class="row">-->

    <!--              &lt;!&ndash; Grid column &ndash;&gt;-->
    <!--              <div class="col-md-6">-->
    <!--                <div class="md-form">-->
    <!--                  <input type="text" id="contact-name" class="form-control">-->
    <!--                  <label for="contact-name" class="">Your name</label>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--              &lt;!&ndash; Grid column &ndash;&gt;-->

    <!--              &lt;!&ndash; Grid column &ndash;&gt;-->
    <!--              <div class="col-md-6">-->
    <!--                <div class="md-form">-->
    <!--                  <input type="text" id="contact-email" class="form-control">-->
    <!--                  <label for="contact-email" class="">Your email</label>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--              &lt;!&ndash; Grid column &ndash;&gt;-->

    <!--            </div>-->
    <!--            &lt;!&ndash; Grid row &ndash;&gt;-->

    <!--            &lt;!&ndash; Grid row &ndash;&gt;-->
    <!--            <div class="row">-->
    <!--              <div class="col-md-12">-->
    <!--                <div class="md-form">-->
    <!--                  <input type="text" id="contact-Subject" class="form-control">-->
    <!--                  <label for="contact-Subject" class="">Subject</label>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            &lt;!&ndash; Grid row &ndash;&gt;-->

    <!--            &lt;!&ndash; Grid row &ndash;&gt;-->
    <!--            <div class="row mb-4">-->

    <!--              &lt;!&ndash; Grid column &ndash;&gt;-->
    <!--              <div class="col-md-12">-->

    <!--                <div class="md-form">-->
    <!--                  <textarea type="text" id="contact-message" class="md-textarea form-control" rows="3"></textarea>-->
    <!--                  <label for="contact-message">Your message</label>-->
    <!--                </div>-->

    <!--              </div>-->
    <!--            </div>-->
    <!--            &lt;!&ndash; Grid row &ndash;&gt;-->

    <!--          </form>-->

    <!--          <div class="text-center text-md-left mb-4">-->
    <!--            <a class="btn btn-light-blue">Send</a>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        &lt;!&ndash; Grid column &ndash;&gt;-->

    <!--        &lt;!&ndash; Grid column &ndash;&gt;-->
    <!--        <div class="col-md-4 col-xl-3">-->
    <!--          <ul class="contact-icons text-center list-unstyled">-->
    <!--            <li><i class="fas fa-map-marker fa-2x"></i>-->
    <!--              <p>San Francisco, CA 94126, USA</p>-->
    <!--            </li>-->

    <!--            <li><i class="fas fa-phone fa-2x"></i>-->
    <!--              <p>+ 01 234 567 89</p>-->
    <!--            </li>-->

    <!--            <li><i class="fas fa-envelope fa-2x"></i>-->
    <!--              <p>contact@mdbootstrap.com</p>-->
    <!--            </li>-->
    <!--          </ul>-->
    <!--        </div>-->
    <!--        &lt;!&ndash; Grid column &ndash;&gt;-->

    <!--      </div>-->

    <!--    </section>-->
    <!--    &lt;!&ndash; Section: Contact v.2 &ndash;&gt;-->

  </div>

</main>
<!-- Main Layout -->






