<!--<div class="card">-->
<!--  <img class="card-img-top" [src]="product.thumbnail" alt="Card image">-->
<!--  <div class="card-body">-->
<!--    <h4 class="card-title">{{product.title}}</h4>-->
<!--    <p class="card-text">{{product.price |currency:"":""}} đ</p>-->
<!--    <a href="#" class="btn btn-primary">See Profile</a>-->
<!--  </div>-->
<!--</div>-->
<a href="#" class="home-product-item">
    <div class="home-product-item__img" style="background-image: url({{product.thumbnail}})"></div>
    <div class="home-product-item__info">
        <h4 class="home-product-item__name">Son kem lì Bbia Last Velvet Lip Tint Version 5 (5 màu) 5g - Bbia Official
            Store</h4>
        <div class="home-product-item__price">
            <span class="home-product-item__price-old">290.000₫</span>
            <span class="home-product-item__price-current">150.000₫</span>
        </div>
        <div class="home-product-item__action">
            <!-- home-product-item__like--liked -->
            <span class="home-product-item__like home-product-item__like--liked">
        <i class="home-product-item__like-icon far fa-heart"></i>
        <i class="home-product-item__liked-icon fas fa-heart"></i>
      </span>
            <div class="home-product-item__rating">
                <i class="home-product-item__star-gold fas fa-star"></i>
                <i class="home-product-item__star-gold fas fa-star"></i>
                <i class="home-product-item__star-gold fas fa-star"></i>
                <i class="home-product-item__star-gold fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <span class="home-product-item__sold">88 đã bán</span>
        </div>
        <div class="home-product-item__origin">
            <span class="home-product-item__band">Bbia</span>
            <span class="home-product-item__origin-name">TP Hồ Chí Minh</span>
        </div>
        <div class="home-product-item__favorite">
            <i class="home-product-item__favorite-icon fas fa-check"></i>
            <span class="home-product-item__favorite-label">Hot</span>
        </div>
        <div class="home-product-item__sale-off">
            <span class="home-product-item__sale-off-percent">48%</span>
            <span class="home-product-item__sale-off-label">Dsc</span>
        </div>
    </div>
</a>
