<a class="home-product-item">
    <div class="home-product-item__img" style="background-image: url({{product.thumbnail}})"></div>
    <div class="home-product-item__info">
        <h4 class="home-product-item__name">{{product.name}}</h4>
        <div class="home-product-item__price">
            <span class="home-product-item__price-old">{{product.oldPrice}}$</span>
            <span class="home-product-item__price-current">{{product.price}}$</span>
        </div>
        <div class="home-product-item__action">
        </div>
    </div>
</a>
