<div id="demo" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel__banner-image d-block" style="background-image: url(./assets/banner/banner1.jpg)"></div>
        </div>
        <div class="carousel-item">
            <div class="carousel__banner-image d-block" style="background-image: url(./assets/banner/banner2.jpg)"></div>
        </div>
        <div class="carousel-item">
            <div class="carousel__banner-image d-block" style="background-image: url(./assets/banner/banner3.jpg)"></div>
        </div>
        <div class="carousel-item">
            <div class="carousel__banner-image d-block" style="background-image: url(./assets/banner/banner4.jpg)"></div>
        </div>
        <div class="carousel-item">
            <div class="carousel__banner-image d-block" style="background-image: url(./assets/banner/banner5.jpg)"></div>
        </div>
    </div>
</div>
