@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


@media (max-width: 739px) {
  html {
    font-size: 62.5% !important;
  }

  .section__sub-title {
    width: 75% !important;
  }
}

@media (min-width: 740px) {
  html {
    font-size: 100% !important;
  }
}

#home {
  .home__section {
    width: 100%;
    overflow: hidden;

    .section__header {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;

      @keyframes textClip {
        to {
          background-position: 200% center;
        }
      }

      .animate-character {
        padding: 3rem 2rem 0;
        text-transform: uppercase;
        background-image: linear-gradient(
                        -225deg,
                        #1e1e1e 0%,
                        #3c3c3c 20%,
                        #fff 40%,
                        #3c3c3c 60%,
                        #1e1e1e 80%,
        );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textClip 2s linear infinite;
        display: inline-block;
      }

      .section__title {
        width: 100%;
        font-size: 2.2rem;
        font-weight: 600;
        font-family: 'Kaushan Script', monospace;
      }

      .section__sub-title {
        width: 50%;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.4;
        font-style: italic;
      }
    }

    .section__body {

      .collection {
        text-align: center;
        padding-top: 3rem;
        text-decoration: none;
        font-family: 'Kaushan Script', monospace;

        &.collection--2 {
          & ~ .collection--2 {
            padding-top: 1.5rem;
          }

          .collection-item {
            margin: 0 0.25rem;
          }
        }

        .collection-item {
          width: 100%;
          padding-top: 30%;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          position: relative;
          overflow: hidden;

          &:hover {
            transform: scale(1.025);
            -webkit-filter: brightness(75%);
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
          }

          .collection-item__title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0.4rem 1rem;
            font-size: 1.2rem;
            color: #fff;
            background-color: rgb(0, 0, 0, 20%);
            border: 1px solid currentColor;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .section__footer {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    text-transform: uppercase;

    .section__footer__left {
      width: 50%;
      text-align: right;
      color: #1e1e1e;
      text-decoration: none;
      transition: all ease-in .25s;

      &:hover {
        letter-spacing: 0.05rem;
      }

      span {
        padding: 0.2rem 0.6rem;
        margin-right: 1rem;
      }
    }

    .section__footer__right {
      width: 50%;
      text-align: left;
      color: #6c757d;
      text-decoration: none;
      transition: all ease-in .25s;

      &:hover {
        letter-spacing: 0.05rem;
      }

      span {
        padding: 0.2rem 0.6rem;
        margin-left: 1rem;
        border: 1px solid currentColor;
        border-radius: 16px;
      }
    }
  }

  .inbox {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    border: 2px solid #212529;
    animation: appearLoop 2s linear infinite;
    cursor: pointer;
    z-index: 10;
  }

  @keyframes appearLoop {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
